outcome-of-care-measures.csv
activity_labels.txt
features.txt
mean_data.txt
sel_data.txt
subject_test.txt
subject_train.txt
X_test.txt
X_train.txt
y_test.txt
y_train.txt
household_power_consumption.txt
summarySCC_PM25.rds
Source_Classification_Code.rds
activity.csv
StormData.csv.bz2
